<hello name="{{ name }}"></hello>
<p>
	Start editing to see some magic happen :)
</p>
<p>{{10 + 4}}</p>
<img src="{{imageURL}}" alt="">
<!-->
<input type="text" #welcomeMessage>
<button (click) = "onClick(welcomeMessage)">Click Me</button>
<p>{{messageWelcome</p>
<!-->

<img src="imageURL" alt="">

<p [class.special]="isSpecial"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt ratione unde,
	architecto in explicabo dolore omnis aperiam distinctio, quibusdam, culpa repellat cum eius totam obcaecati
	doloremque voluptatum pariatur sapiente ad.</p>

<p style.color="{{redColor}}">Hello</p>

<input type="text" {[ngModel]}  "username">
<p>{{username}}</p>